.wrapper {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.wrapper-dark {
  background-color: black;
  color: white;
}

.wrapper-dark a {
  color: white;
}

.wrapper-light {
  background-color: rgb(235 236 171 / 52%);
  color: black;
}

.wrapper-light a {
  color: black;
}
.list-navigation {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.loupe-dark * {
  fill: white;
}

.loupe-light * {
  fill: black;
}

.loupe {
  cursor: pointer;
}

.list-navigation li {
  cursor: pointer;
}

.search-and-theme {
  display: flex;
  column-gap: 20px;
  padding-right: 40px;
  align-items: center;
}
