.toggle-wrapper {
  position: relative;
  border-radius: 13px;
  width: 50px;
  height: 20px;
  cursor: pointer;
}

.toggle-wrapper-dark {
  border: 1px solid white;
  background-color: black;
}

.toggle-wrapper-light {
  border: 1px solid black;
  background-color: rgb(235 236 171 / 52%);
}

.toggle-dot {
  position: absolute;
  top: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.dot-left-position {
  left: 2px;
  background-color: black;
  border: 1px solid black;
}

.dot-right-position {
  right: 2px;
  background-color: white;
  border: 1px solid white;
}

.toggle-switch {
  position: absolute;
  top: 3px;
}

.toggle-switch-right {
  right: 3px;
  color: black;
}

.toggle-switch-left {
  left: 3px;
  color: white;
}
